*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.sd-header-nav{
    background-color:antiquewhite;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sdk-logo{
    width: 14rem;
    height: 3rem;
    border: 2px solid green;
    background-image: url(images/logo.png);
    background-size: cover;
}
.hero-section{
    width: 100%;
    height: 100vh;
    background-color: rgb(249, 249, 249);
    border-top: 0.4rem solid rgb(65, 211, 21);
}
.hero-para {
    /* border: 2px solid red; */
    width: 400px;
    padding-top: 9rem;
}
.hero-para h1{
    color: rgb(77, 210, 36);
    /* border: 2px solid blueviolet; */
    width: 20rem;
}
.hero-img{
    /* border: 2px solid blue; */
    padding-top: 4.5rem;
}



/* our feature */
.padding-content{
    width: 90%;
    margin:auto;
    border: 2px solid red;
}
.feature-textalign{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 1.5rem;
}
.card-img-top{
    padding: 0.5rem;
    width: 5rem !important;
    height: 5rem !important;
    margin: auto;
}
.feature-title{
    margin: 2rem 0rem 2rem 10rem;
}



/* about us */

.heading-para{
    color: rgb(77, 210, 36);
}
.about-content{
    line-height: 1.5rem;
}
.bg-image{
    background-image: url(images/aboutus.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
}
.green-button{
    background-color: rgb(77, 210, 36);
    color: #ffffff;
    border: 0.1rem solid transparent;
    outline: 0rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
}


.earn-section{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 6rem;
}
.img-left{
    /* border: 2px solid blue; */
}
.earn-para{
    text-align: center;
    margin-top: 9rem;
}
.earn-heading{
    font-size: 2rem;
    color: rgb(77, 210, 36);
}
.earn-heading{
    font-size: 2rem;
    padding-bottom: 2rem;
    /* border: 2px solid navy; */
}
.earn-para2{
    font-size: 1.5rem;
    /* border: 2px solid green; */
    padding-bottom: 2rem;
}

.bg-banner{
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-repeat:  no-repeat;
    height: 100vh;
}
.white-bg-form{
    background-color: #ffffff;
    position: absolute;
    top: 15%;
    left: 38%;
    box-shadow: 4px 5px 40px rgb(133, 133, 133) ;
}
.form-margin{
    padding: 4rem 5rem;
}


footer{
    width: 100%;
    height: 4rem;
    background-color: rgb(21, 21, 21);
}
.footer-copy-right{
    color: rgb(77, 210, 36);
}

.bg-container{
    width: 100%;
    height: 100vh;
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 0.4rem solid rgb(65, 211, 21);
}
.form-width-container{
    width: 700px;
}
.form-width{
    width: 400px;
}
.text-white{
    color: rgb(77, 210, 36)!important;
}